<li class='films__item' data-id={{id}} data-info={{info}}>
  <div class='films__img'>
    <img
      src='https://image.tmdb.org/t/p/w500{{poster_path}}'
      alt={{original_title}}
      loading='lazy'
    />
  </div>
  <div class='films__description'>
    <p class='films__name'>{{title}}</p>
    <p class='films__info'>{{genre_ids}} | {{release_date}}</p>
    {{#if vote-average}}
      <span class='films__rating'>{{vote-average}}</span>
    {{/if}}
  </div>
</li>