<li class='films__item' data-id={{id}}>
  <div class='films__img'>
    <img
      src='{{poster_path}}'
      alt={{original_title}}
      loading='lazy'
    />
  </div>
  <div class='films__description'>
    <p class='films__name'>{{title}}</p>
    <p class='films__info'>{{genre_ids}} | {{release_date}}</p>    
  </div>
</li>